<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<h2>Where are Muses Alumni?</h2>
		<p>Mouse over any of the bubbles on the map below to see who lives in that area, or scroll down to see the complete list!</p>
  		<div id="loader"></div>
		<div id="map-container" style="display: inline-block; width: 100%;"></div>
		<br>
		<br>
		<br>
		<div id="all-alumni" class="all-alumni"></div>
		 
		<script>
			var map_width = $(window).width() * .8;
			var map_height = map_width/2;

			//basic map config with custom fills, mercator projection
			var map = new Datamap({
		        scope: 'usa',
		        element: document.getElementById('map-container'),
		        projection: 'mercator',
		        width: map_width,
		        height: map_height,
		        geographyConfig: {
			        popupOnHover: false,
			        highlightOnHover: false
			    },
		        fills: {

		          defaultFill: 'rgba(140, 40, 100, .55)',
		          bubble: '#230233'
		        },
		    })

		    create_bubble_list().then( info =>{
		      
		        bubble_list = info[0];
		        all_alumni = info[1];


		        //bubbles, custom popup on hover template
		        map.bubbles(
		          	bubble_list, 
		          	{
		            	popupTemplate: function(geo, data) {
		              		return '<span class="hoverboi">'+create_popup(data.location, data.alumns)+'</span>';
		            	}
		          	}
		        );


		        all_alumni_html = document.getElementById("all-alumni");
		        all_alumni_html.innerHTML = "<h3>Alumni Current Location</h3>"+create_table(all_alumni);

		        $("#all-alumni").fadeIn()
		        $("#loader").fadeOut()

		    });
		      
		</script>
	</div>
</div>