<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<h3>Audition for the MIT Muses!</h3>
		<img height="360px" class="card right" src="/img/auditions-side.jpg">
		<p>We're a laid-back, fun-loving group that likes singing together. We sing original arrangements from a variety of genres, from pop to rock to musical theatre.</p>
		<p>We hold a concert at the end of every semester, sing serenades on Valentine's Day in February, and perform at gigs throughout the semester. You can also catch us at the annual MIT Family Weekend and Campus Preview Weekend A Cappella Concerts.</p>
		<p>We hold auditions every fall, and sometimes also in the spring.</p>
		<h3>Spring Auditions 2022</h3>
		<p>Spring 2022 auditions will take place starting February 4th in room 4-370.</p>
		<p>For the audition, please schedule a 15 minute audition time slot using <a href="https://docs.google.com/forms/d/e/1FAIpQLScxmPE1gnxLeybbjNxuGf36HTYm9KFXhsAaA_rwNgyRvxwIKQ/viewform">this form.</a> During your audition, we will run through simple warmups and scales to get a sense of your singing style and range. In addition, please prepare a verse and chorus of your favorite song. We welcome singers of all experience levels!</p>
		<!-- <p>To learn more about the Muses and our audition process, join us on Zoom Wednesday, Feb. 17th 7:00 - 8:00pm EST (<a href="https://mit.zoom.us/j/99731828141">link here</a>). We would love to introduce ourselves, get to know you better, and answer any questions you might have!</p>  -->
		<p>Please email us at <a href="mailto:muses@mit.edu">muses@mit.edu</a> with any questions!</p>
	</div>
</div>
