<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<h3>Audition for the MIT Muses!</h3>
		<img height="360px" class="card right" src="/img/auditions-side.jpg">
		<p>We're a laid-back, fun-loving group of women who like singing together. We sing original arrangements from a variety of genres, from pop to rock to musical theatre.</p>
		<p>We hold a concert at the end of every semester, sing serenades on Valentine's Day in February, and perform at gigs throughout the semester. You can also catch us at the annual MIT Family Weekend and Campus Preview Weekend A Cappella Concerts.</p>
		<p>We hold auditions twice a year: once in the fall, and once in the spring!</p>
		<h3>Fall Auditions 2017</h3>
		<p>Mark your calendars &dash; fall auditions are coming up on <b>September 1-3, 2017</b>! Email us at <a href="mailto:muses@mit.edu">muses@mit.edu</a> with any questions, and stop by our Activities Midway booth on August 30th to sign up for your slot!</p>
		<p>Not sure when you'll be free? You can also walk-in at anytime during the auditions period.</p>
		<p>We welcome singers of all experience levels; just come prepared with a verse and chorus of your favorite song!</p>
	</div>
</div>