<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<center><h3>Send us an email, and we'll be in touch shortly!</h3></center>

		<div class="block">
			<h4>General Inquiries</h4>
			<p><a href="mailto:muses@mit.edu">muses@mit.edu</a></p>
		</div>

		<div class="block">
			<h4>Business or Press Inquiries</h4>
			<p>Kaitlin Lim & Ruth Shiferaw, Business Managers<br>
			<a href="mailto:muses-manager@mit.edu">muses-manager@mit.edu</a></p>
		</div>

		<div class="block">
			<h4>Website Questions</h4>
			<p>Ruth Shiferaw, Webmistress<br>
			<a href="mailto:muses-webmaster@mit.edu">muses-webmaster@mit.edu</a></p>
		</div>
		
		<div class="block">
			<h4>Album or CD Inquiries</h4>
			<p>Marissa Abbott & Taylor Fox, Recording Chairs<br>
			<a href="mailto:muses-cd@mit.edu">muses-cd@mit.edu</a></p>
		</div>
	</div>
</div>
