<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<center>
			<h3>Find Us on Social Media</h3>
			<ul class="social">
				<a href="//facebook.com/mitmuses" target="_blank"><li><h4><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h4></li></a>
				<a href="//open.spotify.com/artist/1BXSdLpPj7iCzqlrzw1t9w?si=n-SMelTmSkuuJV602Zks_A" target="_blank"><li><h4><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</h4></li></a>
				<a href="//www.youtube.com/channel/UCmgylEDJKwrtmvbWyOmSghg" target="_blank"><li><h4><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</h4></li></a>
				<a href="//twitter.com/mitmuses" target="_blank"><li><h4><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</h4></li></a>
			</ul>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2019 Concert</h3>
				<h5>Scooby-Muse!</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICbvjVvjCSQbIlsxy_tn6O7c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div style="max-width:80%;display:inline-block;margin:12px">
				<iframe src="https://open.spotify.com/embed/album/4RQl0iNuRs1BSON2gRhYxM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		</center>
	</div>
</div>