<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>
	<div class="content">
		<center>
			<h3>Find Us on Social Media</h3>
			<ul class="social">
				<a href="//facebook.com/mitmuses" target="_blank"><li><h4><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h4></li></a>
				<a href="//open.spotify.com/artist/1BXSdLpPj7iCzqlrzw1t9w?si=n-SMelTmSkuuJV602Zks_A" target="_blank"><li><h4><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</h4></li></a>
				<a href="//www.youtube.com/channel/UCmgylEDJKwrtmvbWyOmSghg" target="_blank"><li><h4><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</h4></li></a>
				<a href="//twitter.com/mitmuses" target="_blank"><li><h4><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</h4></li></a>
			</ul>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring 2023 Concert</h3>
				<h5>Muse Island</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICZFQAkqDJe6VyFalCJKMaAI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2021 Concert</h3>
				<h5>Muse Clues</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICZyC9mwC8gmsq4IP3nN-jzn" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring/Fall 2020 Concert</h3>
				<h5>Quarantine Recording</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICYoBgcrhmd9ojo58Vvl4z4g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2019 Concert</h3>
				<h5>Scooby-Muse!</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICbvjVvjCSQbIlsxy_tn6O7c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring 2019 Concert</h3>
				<h5>Under the Colored Lights</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICZsM2ySlXAvMJF0kJWDEh0b" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div style="max-width:80%;display:inline-block;margin:12px">
				<iframe src="https://open.spotify.com/embed/album/4RQl0iNuRs1BSON2gRhYxM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2018 Concert</h3>
				<h5>Back to the Future</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICZeh8URF7WB6R_aY0gmPVGL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring 2018 Concert</h3>
				<h5>Disney Princesses College Edition</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICbxOT0GQZDC0ulpENUvvYmt" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2017 Concert</h3>
				<h5>Mean Girls</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICbDTAx8KT9oeo3FA7tGi4QT" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring 2017 Concert</h3>
				<h5>High School Muse-ical</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICZaWpsAY6a-uKeScL5BJYsw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Fall 2016 Concert</h3>
				<h5>Harry Potter and the Muses of MIT</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICbJIZwZfKeF4_laBauLfL30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
		<center>
			<div style="max-width:80%;display:inline-block">
				<h3>Spring 2016 Concert</h3>
				<h5>Muses of the Caribbean</h5>
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcAV334O4ICYlyFtliEOauryFKg5vkV_J" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</center>
	</div>
</div>