<div id="{{ id }}">
	<header>
		<h1 class="title">{{ title }}</h1>
	</header>

	<div class="member-gallery">
		<!-- ng-repeat tells Angular to render this block of HTML for every member in the members array -->
		<!-- the members array is found in the members controller under js/controllers -->
		<div ng-repeat="member in members" class="member">
			<img width="120px" src="{{member.photo}}" class="photo">
			<div class="intro">
				<h3 class="member-name">{{ member.name }}</h3>
				<h4 class="member-position"><span ng-repeat="position in member.positions">{{position}}{{$last ? '' : ($index==member.positions.length-2) ? ' and ' : ', '}}</span></h4>
				<p class="member-major">{{ member.major }} &bull; {{ member.year }}</p>
				<p class="member-activities"><span ng-repeat="activity in member.other_activities">{{activity}}{{$last ? '' : ($index==member.other_activities.length-2) ? ', and ' : ', '}}</span></p>
			</div>
		</div>
		<center><h1>Alumni</h1></center>
		<ul>
			<li><p ng-repeat="member in alumni">{{ member.name }} &bull; {{ member.year }}</p></li>
		</ul>
	</div>
</div>